/* general styling */
:root {
    --backgroundcolor: #000000;
    --colortextwhite: white;
    --colortextblue: #0064FF;
    --headingfont: 'Antique Legacy', sans-serif; 
    --unregulartextfont: 'Offbit', sans-serif;
    --lighttext: 'Antique Legacy Light', sans-serif;
}

/* fonts laden */
@font-face {
    font-family: 'Antique Legacy';
    src: url('assets/fonts/Antique-Legacy/Antique-Legacy-Regular.otf');
}

@font-face {
    font-family: 'Antique Legacy Light';
    src: url(assets/fonts/Antique-Legacy/Antique-Legacy-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: 'Offbit';
    src: url('assets/fonts/Offbit/OTF/OffBit-101Bold.otf');
    font-weight: 300;
}



body{
    background-color: var(--backgroundcolor);
    color: var(--colortextwhite);
}




/* styling header */
header img{
    margin: 1em;
    max-height: 27px; 
}
/* end styling header */



/* styling navigatie */
nav{
    position: absolute;
    left: 80%;
    top: 1%;
}

nav img{
    display: none;
} 
/* end styling navigatie */



/* styling main - section --> inleiding*/
h1 {
    font-size: 64px;
    font-family: 'Antique Legacy';
    color: var(--colortextwhite);
    margin-top: 1em;
    margin-left: .3em;
    margin-bottom: 0;
}

h2{
    font-size: 64px;
    font-family: var(--unregulartextfont);
    color: var(--colortextblue);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: .3em;
}


/* styling section;inleiding */
#inleiding p{
    font-family: var(--lighttext);
    font-size: 18px;
    margin-left: 1em;
    margin-right: 1em;
}


h3 {
    font-size: 26px;
    font-family: var(--lighttext);
    color: var(--colortextblue);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: .5em;
}

ul {
    padding-left: 1em;
}

li {
    font-size: 18px;
    font-family: var(--lighttext);
    margin-left: 1em;
}
/* end styling section; inleiding */

/* styling section: afbeeldingen */
#afbeeldingen img {
    display: flex;
    flex-direction: column;
    gap: 3.75em;
    padding: none;
    max-height: 1300px;
    max-width: 375px;
    
}



/* styling section: text */
#text p{
    font-size: 36px;
    font-family: var(--lighttext);
    margin-left: .3em;
    margin-right: .3em;
}

#text strong{
    font-weight: 300;
    font-family: var(--lighttext);
    color: rgba(255, 255, 255, 0.6);
}



/* footer styling section: question*/
.question{
    margin-bottom: 10em;
}

footer p{
    font-family: var(--lighttext);
}
footer p:first-child {
    font-size: 64px;
    font-family: var(--lighttext);
    font-weight: 400;
    margin-left: .3em;
    margin-right: 1.3em;
    margin-top: 1.5em;
    margin-bottom: 0;
}

footer p:nth-child(2){
    font-size: 70px;
    font-family: var(--unregulartextfont);
    font-weight: 400;
    margin-left: .3em;
    margin-right: 1em;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--colortextblue);
}

footer p:nth-child(3){
    font-size: 18px;
    margin-left: 1em;
    margin-right: 1em;
}

footer p:nth-child(4){
    margin-left: 1em;
}


a {
    color: var(--colortextwhite);
    font-size: 18px;
    font-family: var(--lighttext);
}

footer a:first-child{
    padding-right: 1em;
}

footer a:nth-child(2){
    padding-left: 1em;
}

form{
    display: none;
    color: var(--colortextwhite);
}

/* media queries */
/* Desktop */
@media (min-width: 75em){

}

/* Ipad */
@media (min-width: 50em){

}