/* Webfont: OffBit-101Bold */@font-face {
    font-family: 'OffBit';
    src: url('OffBit-101Bold.woff2') format('woff2'), /* Modern Browsers */
         url('OffBit-101Bold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

